.btn {
  display: flex;
  background-color: var(--btn-primary-bg);
  font-size: 14px;
  border-radius: 1px;
  padding: 5px 20px;
  border-radius: 1px;
  align-items: center;
  border: none;
  max-width: 200px;
}
