:root[data-theme='light'] {
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);

  /* Основные тексты */
  --text-primary: #000;
  --text-secondary: #666;
  --text-accent: #007bff;
  --text-h1: #333;
  --text-disc: #666;

  /* Компоненты */
  --btn-primary-bg: #007bff;
  --btn-primary-hover: #0056b3;
  --card-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  --burger-color: #000;
  --overlay-bg: rgb(0 0 0 / 50%);
  --card-color: #e7ebfc;
  --card2-color: #fff;

  color-scheme: light;

  --bg-primary: #fff; /* Белый фон для светлой темы */

  /* остальные переменные */
  --dg-cloud: #fff;
}
